/*.number{
	float: left;
	border-style: groove;
	border-width: thin;
	padding: 3px;
	margin: 3px;
}*/

table td{
	border: 1px solid;
	padding: 5px;
}

table{
	border-collapse: collapse;
}

table tr:nth-child(1){
	font-weight: bold;
}

table td:nth-child(1){
	font-weight: bold;
}
